<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sports Day House Points</title>
  <link rel="stylesheet" href="../static/styles/style2.css">
</head>
<body>
  <header>
    <div class="title">Sports Day House Points</div>
    <a href="index.html"><button class="switch-btn">Bar View</button></a>
  </header>
  <div class="wrap">
    <div class="scene">
      <div id="row" class="row"></div>
    </div>
  </div>
  <script src="../data.js"></script>
  <script src="../static/logic2.js"></script>
</body>
</html>
